.feed-container {
  margin: 0 auto;
  align-self: center;
}

/* Search bar and add post button */
.feed-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  justify-self: center;
  margin-bottom: var(--spacing-8);
  gap: var(--spacing-8);

  @media (min-width: 768px) {
    width: 500px;
  }
}
.search-form {
  flex-grow: 1;
}

.input-icon {
  position: relative;
}

.input-icon i {
  color: var(--color-primary-dark);
  font-size: var(--fontsize-20);
  position: absolute;
  margin-left: -50px;
  margin-top: 10px;
}

/* Feed display */
.feed-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card,
.post-image-container,
.card-image,
.post-body-container {
  border-radius: 5px;
}

.card {
  width: 100%;
  height: fit-content;
  background: var(--color-primary-dark);
  padding: var(--spacing-16);
  margin-bottom: var(--spacing-8);

  @media (min-width: 768px) {
    width: 500px;
  }
}

.post-image-container {
  width: 100%;
  height: fit-content;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.post-body-container {
  background: var(--color-white);
  padding: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-body-title {
  font-weight: var(--font-weight-normal);
}

.post-body {
  color: var(--color-dark-grey);
}

.post-user,
.post-date {
  color: var(--color-white);
}

.post-user {
  font-weight: 500;
  margin-top: var(--spacing-8);
}

/* Load more button */
.load-more-btn-container {
  text-align: center;
}
.load-more-btn {
  display: block;
  margin: var(--spacing-16) auto;
}

/* Add post overlay */
.add-post-form-overlay {
  background: var(--color-white);
  border: solid var(--color-white);
  border-radius: 5px;
  padding: var(--spacing-16);
  width: 300px;
  min-height: fit-content;
  @media (min-width: 768px) {
    width: 550px;
  }

  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 9999;
}

.add-post-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.edit-delete_post_btn {
  margin-top: var(--spacing-8);
  text-align: right;
}
