#feed-top {
  width: 500px;
  margin: 0 auto;
  margin-bottom: var(--spacing-16);
}

.search-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  margin-bottom: var(--spacing-16);
}

.container_open-add-post-btn {
  text-align: right;
}

.input-icon {
  position: relative;
}

.input-icon i {
  color: var(--color-primary-dark);
  font-size: var(--fontsize-20);
  position: absolute;
  margin-left: -50px;
  margin-top: 10px;
}

.feed-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.card,
.post-image-container,
.card-image,
.post-body-container {
  border-radius: 5px;
}

.card {
  width: 500px;
  height: fit-content;
  background: var(--color-primary-dark);
  padding: var(--spacing-16);
}

.post-image-container {
  width: 470px;
  height: 290px;
  background: var(--color-white);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.post-body-container {
  background: var(--color-white);
  padding: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-body-title {
  font-weight: var(--font-weight-normal);
}

.post-body {
  color: var(--color-dark-grey);
}

.post-user,
.post-date {
  color: var(--color-white);
}

.post-user {
  font-weight: 500;
  margin-top: var(--spacing-8);
}

#load-more-btn {
  display: block;
  margin: var(--spacing-16) auto;
}

.add-post-form-overlay {
  background: var(--color-white);
  border: solid var(--color-white);
  border-radius: 5px;
  padding: var(--spacing-16);
  width: 550px;
  min-height: fit-content;

  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 9999;
}

.add-post-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}
