@import "./variables.css";
@import "./feed.css";
@import "./profile.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  background: var(--color-secondary);
  font-family: var(--font-default);
  font-size: var(--fontsize-17);

  @media (min-width: 768px) {
    font-size: var(--fontsize-18);
  }
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: var(--spacing-16);
  min-height: 100vh;
}

button,
label,
input,
a,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-primary-dark);
}

.link {
  font-family: var(--font-default);
  font-weight: var(--fontweight-thin);
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.5px;
}

/* Typography */
h1,
h2,
h3 {
  color: var(--color-primary-dark);
}

h1 {
  font-family: var(--font-headings);
  font-size: var(--fontsize-20);
  font-weight: var(--fontweight-normal);

  @media (min-width: 768px) {
    font-size: var(--fontsize-35);
  }
}

h2,
p {
  font-weight: var(--fontweight-thin);
}

h2 {
  font-size: var(--fontsize-20);
  font-weight: 600;
}

h3 {
  font-weight: var(--fontweight-normal);
}

/* Buttons */
button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  border: none;
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  gap: 12px;
}

.primary-btn {
  background: var(--color-primary-dark);
  color: var(--color-white);
  font-weight: var(--fontweight-thin);
}

.primary-btn:hover {
}

/* Secondary button */
.secondary-btn {
  color: var(--color-primary-dark);
  background: var(--color-secondary);
  font-weight: var(--fontweight-normal);
}

.secondary-btn:hover {
}

/* Form Styling */
.form-spacing {
  margin-top: 12px;
}

label {
  color: var(--color-primary-dark);
}

input,
textarea,
select {
  width: 100%;
  display: inline-flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  border: 0.5px solid #585858;
}

input:hover {
  border-radius: 5px;
  border: 1px solid var(--color-primary-dark);
}

input:focus,
textarea:focus {
  border-radius: 5px;
  border: 1.5px solid var(--color-primary-dark);
}

.input-error {
  border: 1px solid var(--color-error);
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px 300px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-24);
}

/* Footer */
footer {
  text-align: left;
  padding: var(--spacing-24);
  margin-top: var(--spacing-32);
  background: var(--color-primary-dark);
  color: var(--color-white);
}

/* Error and success */
.success-text {
  color: var(--color-success);
}

.error-text {
  color: var(--color-error);
}

.section-welcome-page {
  padding-top: 200px;
  text-align: center;
  font-size: var(--fontsize-20);
}

.welcome-text {
  font-size: var(--fontsize-35);
  margin-bottom: 50px;
}
