#details-container,
#user-posts-container {
  max-width: 500px;
  margin: 0 auto;
}

.user-post-container {
  margin-top: var(--spacing-16);
}

.profile-information-container {
  display: flex;
  justify-content: space-between;
}

.profile-information-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--spacing-16);
}

.profile-avatar {
  width: 100px;
  height: auto;
}

.my-user-follower-container {
  padding: var(--spacing-16);
}

.followers-flex-direction-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-8);
}
